body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 60px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*CSS pour le footer*/
.footer{
  position: fixed !important;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

/*CSS pour les titres*/
.pTitre {
  font-size: 1.50rem;
}

/*CSS pour la couleur grise moins violente*/
.bg-gris{
  background-color: #C4C4C4 !important;
}

/*CSS pour les cadres*/
@media only screen and (min-width: 768px) {
  .box {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 40%;
    background-color: rgba(230, 230, 230, 0.5);
    margin: 10px auto;
    border-radius: 16px;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
}

@media only screen and (max-width: 768px) {
  .box {
    display: flex;
    flex-direction: row;
    height: fit-content;
    background-color: rgba(230, 230, 230, 0.5);
    margin: 10px auto;
    border-radius: 16px;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
}

/*CSS pour les images de profil*/
.pp {
  height: 100px;
  width: auto;
}

/*CSS pour les lien*/
a {
  text-decoration: none !important;
  color: black !important;
}

.transparent {
  background-color: transparent !important;
  border-color: transparent !important;
}

.action {
  height: 30px;
  width: 30px;
  margin-top: auto;
  margin-bottom: auto;
}
