.detailTrajet {
    font-size: 22px;
}

.detailTrajet .row {
    justify-content: center;
    align-items: center;
}

.detailTrajet .border-left {
    border-left: solid 2px rgba(88,185,75,1) !important;
}

@media only screen and (max-width: 768px) {
    .detailTrajet .border-left {
        border-left: none !important;
    }
}

.detailTrajet .recapTrajet {
    padding-bottom: 50px;
}

@media only screen and (max-width: 768px) {
    .detailTrajet .recapTrajet {
        border-top: solid 2px rgba(88,185,75,1) !important;
    }
}

.detailTrajet .profil img {
    height: 120px !important;
    width: 120px !important;
}

.detailTrajet .profil h3{
    font-weight: bold;
}

.detailTrajet .preferences .false {
    background: linear-gradient(to left top, transparent 45%, red, red, transparent 55%);
}


.detailTrajet .preferences img {
    height: 30px !important;
    width: 30px !important;
}


.detailTrajet .badge {
    height: fit-content !important;
    font-size: 20px;
}

.detailTrajet .btn-bg-green > * {
    background-color: rgba(88,185,75,1) !important;
    border-radius: 25px;
    border: none;
    color: white !important;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
    padding: 6px 12px;
    font-size: 22px;
    margin: 0 20px;
    box-shadow: 2px 2px 5px #292929 !important;
}

.detailTrajet .btn-bg-green > *:hover {
    background-color: rgb(68, 147, 57) !important;
}

.detailTrajet .btn-bg-green button:active {
    background-color: rgb(68, 147, 57) !important;
}

.detailTrajet .leaflet-container {
    height: 200px;
}

.detailTrajet .row-padding {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: solid 2px rgba(88,185,75,1);
}

.detailTrajet .row-btn {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: solid 2px rgba(88,185,75,1);
}


@media only screen and (max-width: 768px)  {
    .detailTrajet .row-padding {
        display: flex !important;
        flex-direction: column !important;
    }
}

.a-bg-green:hover {
    color: rgba(88,185,75,1) !important;
}


