@media only screen and (min-width: 768px) {
    .formSearchTrajet {
        padding-top: 50px;
        padding-bottom: 50px;
        width: 50%;
        margin: auto;
    }
}

@media only screen and (max-width: 768px) {
    .formSearchTrajet {
        padding-top: 50px;
        padding-bottom: 50px;
        margin: auto;
    }
}

.formSearchTrajet h2 {
    padding-bottom: 25px;
}


.formSearchTrajet .form-group {
    margin-top: 1rem;
}

.formSearchTrajet .fullBgField {
    border-radius: 25px !important ;
    position: relative !important;
    border-style: hidden !important;
    background-color: rgba(88,185,75,1) !important;
    box-shadow: 2px 2px 5px #292929 !important;
    text-align: center !important;
    color: white !important;
}


.formSearchTrajet .fullBgField::placeholder {
    text-align: center;
    color: white !important;
    opacity: 1 !important;
}


.formSearchTrajet .emptyBgField {
    border-radius: 25px !important ;
    position: relative !important;
    border: solid 3px rgba(88,185,75,1) !important;
    background-color: white !important;
    box-shadow: 2px 2px 5px #292929 !important;
    text-align: center !important;
    color: black !important;
}

.formSearchTrajet .emptyBgField::placeholder {
    text-align: center;
    color: red !important;
    opacity: 1 !important;
}

.formSearchTrajet .rechercheButton {
    font-size: 20px !important;
}

.formSearchTrajet a {
    text-decoration: none;
    color: white !important;
}
