.listeRecherche div.trajet > * {
    margin-right: 20px;
    color: black;
}

@media only screen and (min-width: 966px) {
    .listeRecherche .recapRecherche {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: fit-content;
        width: 40%;
        background-color: rgb(237, 237, 237);
        margin: 10px auto;
        border-radius: 16px;
        padding-left: 20px;
    }
}

@media only screen and (max-width: 966px) {
    .listeRecherche .recapRecherche {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: fit-content;
        width: 90%;
        background-color: rgb(237, 237, 237);
        margin: 10px auto;
        border-radius: 16px;
        padding-left: 20px;
    }
}

.listeRecherche div.recapRecherche > * {
    margin-right: 15px;
}

 .trajet:hover {
    box-shadow: 0 8px 20px rgba(0,0,0,0.25), 0 8px 8px rgba(0,0,0,0.22);
}

.listeRecherche table {
    border-collapse: separate !important;
    border-spacing: 25px 0 !important;
}

.rightBox {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    position: relative;
    right: 0;
    text-align: right;
}

.leftBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    right: 0;
    text-align: right;
}

@media only screen and (max-width: 768px) {
    .leftBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: relative;
        right: 0;
        text-align: right;
    }
}

 .trajet img {
    height: 100px;
    width: auto;
}
